body {
    padding-bottom: 0 !important;
}

body > .masthead-black-bar {
    visibility: hidden;
    display: none;
}

body > .sticky-container {
    visibility: hidden;
    display: none;
}

section#main-content-area {
    margin-top: 0;
    margin-bottom: 0;
}

.small-12.columns {
    padding-left: 0;
    padding-right: 0;
}

h3.gxaSearchTermDescription {
    visibility: hidden;
    display: none;
}

footer#local-footer {
    visibility: hidden;
    display: none;
}

footer {
    visibility: hidden;
    display: none;
}

div#data-protection-banner {
    display: none !important;
    visibility: hidden;
}

div#feedback-button {
    visibility: hidden;
    display: none;
}